.counter {
  background: #00000050;
  border-radius: var(--mantine-radius-lg);
  width: 80%;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }
}

.balance {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  font-family: "Oxanium", sans-serif;
}
