.tab {
  &:hover {
    background-color: var(--mantine-color-cbc-purple-8);
  }

  @media (max-width: $mantine-breakpoint-lg) {
    &:hover {
      background-color: transparent;
    }
  }
}

.tabList {
  width: 100%;

  @media (max-width: 393px) {
    width: max-content;
  }
}
