.image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  transition: transform 0.1s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.counter {
  position: absolute;
  background: #00000050;
  border-radius: var(--mantine-radius-lg);
}
