.sidebarWrapper {
  transition: all 0.1s, height 0ms;
  background: transparent;
}

.sidebar {
  border-radius: var(--mantine-radius-lg);
  margin: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-lg) {
    border-radius: 0;
    margin: 0;
  }
}

.main {
  touch-action: none;
}
