.sidebarWrapper {
  transition: all 0.1s, height 0ms;
  background: transparent;
}

.sidebar {
  border-radius: var(--mantine-radius-lg);
  margin: var(--mantine-spacing-xs);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);

  @media (max-width: $mantine-breakpoint-lg) {
    border-radius: 0;
    margin: 0;
    box-shadow: none;
  }
}

.main {
  touch-action: none;
  z-index: 1 !important;
  position: relative;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.15;
  background-color: #2f2542;
  background-image: url("/assets/background-pattern.webp");
  background-size: cover;
  background-blend-mode: multiply;

  animation: bgZoom 10s ease-in-out infinite;
}

@keyframes bgZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
