.sidebarWrapper {
  transition:
    transform 0.2s cubic-bezier(0.25, 1, 0.5, 1),
    height 0s;
  will-change: transform;
  background: transparent;
}

.sidebar {
  border-radius: var(--mantine-radius-lg);
  margin: var(--mantine-spacing-xs);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);

  @media (max-width: $mantine-breakpoint-lg) {
    border-radius: 0;
    margin: 0;
    box-shadow: none;
  }
}

.main {
  touch-action: none;
  z-index: 1 !important;
  position: relative;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.15;
  background-color: #2f2542;
  background-image: url("/assets/background-pattern.webp");
  background-size: cover;
  background-blend-mode: multiply;

  animation: bgZoom 10s ease-in-out infinite;
}

@keyframes bgZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.upgradeBar {
  background-color: var(--mantine-color-cbc-bluegreen-8);
  background-image:
    linear-gradient(var(--mantine-color-cbc-bluegreen-9) 1px, transparent 1px),
    linear-gradient(to right, var(--mantine-color-cbc-bluegreen-9) 1px, var(--mantine-color-cbc-bluegreen-8) 1px);
  background-size: 20px 20px;
}

.navBar {
  background-color: #526377;
  opacity: 1;
  background-image:
    linear-gradient(30deg, #485c73 12%, transparent 12.5%, transparent 87%, #485c73 87.5%, #485c73),
    linear-gradient(150deg, #485c73 12%, transparent 12.5%, transparent 87%, #485c73 87.5%, #485c73),
    linear-gradient(30deg, #485c73 12%, transparent 12.5%, transparent 87%, #485c73 87.5%, #485c73),
    linear-gradient(150deg, #485c73 12%, transparent 12.5%, transparent 87%, #485c73 87.5%, #485c73),
    linear-gradient(60deg, #485c7377 25%, transparent 25.5%, transparent 75%, #485c7377 75%, #485c7377),
    linear-gradient(60deg, #485c7377 25%, transparent 25.5%, transparent 75%, #485c7377 75%, #485c7377);
  background-size: 80px 140px;
  background-position:
    0 0,
    0 0,
    40px 70px,
    40px 70px,
    0 0,
    40px 70px;
}
