.button {
  transition: opacity 0.2s;
}

.button:not(:disabled):not([data-disabled]) {
  animation: pop 0.2s;
}

@keyframes pop {
  0% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
