.navbar {
  height: calc(100vh - 2 * var(--mantine-spacing-xs));
  border-radius: var(--mantine-radius-lg);
  margin: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-lg) {
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
}
