.sidebar {
  /* background: url("https://static.vecteezy.com/system/resources/previews/004/584/977/non_2x/beautiful-wood-background-with-text-space-free-vector.jpg");
  background-size: cover;
  background-repeat: repeat-y; */
  height: 100vh;
  border-radius: var(--mantine-radius-lg);
  margin: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-md) {
    border-radius: 0;
    margin: 0;
  }
}
